<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="webjars/vue/2.6.10/dist/vue.js"></script>
    <script src="webjars/axios/dist/axios.js"></script>
    <script src="webjars/jquery/3.4.1/jquery.js"></script>
    <script src="webjars/bootstrap/4.3.1/js/bootstrap.js"></script>
    <script src="webjars/ionicons/4.5.5/dist/ionicons.js"></script>
    <script src="webjars/underscorejs/1.9.0/underscore-min.js"></script>
    <script src="webjars/momentjs/2.24.0/moment.js"></script>
    <link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.css">
    <link rel="stylesheet" href="webjars/ionicons/4.5.5/dist/css/ionicons.css">

    <style>
        .icon {
            font-size: 30px;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="form-inline">
        <select v-model="state" @change="optionChanged($event.target.value)" class="form-control col-3">
            <option v-for="s in stateList" :value="s">{{s}}</option>
        </select>
        <div class="col-1"></div>
        <input v-model="query" class="form-control col-6">
        <button @click="searchBook" type="button" class="btn btn-outline-dark btn-block col-2">Find</button>
    </div>
    <div v-for="bookInfo in bookInfos" class="list-item row border">
        <div class="col-2">
            <img :src="bookInfo.coverUrl" width="55">
        </div>
        <div class="col-8 small">
            <div>
                <strong>{{bookInfo.title}}</strong>
            </div>
            <div>
                <small>{{bookInfo.author}}</small>
            </div>
            <div>
                <small>{{bookInfo.publishedAt}} {{bookInfo.publisher}} {{bookInfo.price}}</small>
            </div>
        </div>
        <div class="col-2">
            <i @click="addBook(bookInfo.isbn)" class="icon ion-md-add-circle"></i>
        </div>
    </div>
    <ul class="list-unstyled row">
        <li v-for="(book, index) in books" class="list-item col-6 border border-right-0 border-left-0">
            <div v-if="book.isDelimiter" class="p-3">
                <h5> {{book.title}} </h5>
                <i class="icon ion-md-play"></i>
            </div>
            <div v-if="!book.isDelimiter" class="row">
                <div class="col-5">
                    <img :src="book.coverLink" @click="itemSelect(index)" width="65">
                </div>
                <div class="col-7 pr-0 small" v-bind:class="{'bg-secondary': book.selected}">
                    <div>
                        <strong>{{book.title}}</strong>
                    </div>
                    <div>
                        <small>{{book.author}}</small>
                    </div>
                    <div>
                        <small>{{book.publishedAt}}</small>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="container">
        <button @click="getMoreBooks" type="button" class="btn btn-outline-dark btn-block">More</button>
        <div>&nbsp;</div>
        <div class="row">
            <div class="col-4">
                <button @click="deleteBooks" type="button" class="btn btn-outline-danger">Delete</button>
            </div>
            <div v-if="s!=state" v-for="s in stateList" class="col-4">
                <button @click="moveBooks(s)" type="button" class="btn btn-dark">To {{s}}</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script>
    new Vue({
        el: '#app',
        data: {
            books: [],
            bookInfos: [],
            query: '',
            state: 'next',
            stateList: ['next', 'inbox', 'read'],
            nextPage: 0
        },
        created: function () {
            this.getMoreBooks();
        },
        methods: {
            getMoreBooks() {
                axios.get('/ajax/books?state=' + this.state + '&page=' + this.nextPage)
                    .then((res) => {
                        var newList = _.map(res.data.content, function (book) {
                            book.title = book.title.replace(/\(.*\)/gi, '').substring(0, 18);
                            if (book.author) book.author = book.author.substring(0, 10);
                            book.publishedAt = moment(book.publishedAt).format('YYYY-MM');
                            book.coverLink = '/ajax/bookCovers/' + book.isbn;
                            book.selected = false;
                            return book;
                        });
                        let mergedList = this.books.concat(newList);
                        this.books = (this.state == 'read' ? this.appendDelimiter(mergedList) : mergedList);
                        this.nextPage++;
                    });
            },
            itemSelect(index) {
                this.books[index].selected = !this.books[index].selected;
            },
            optionChanged(value) {
                this.state = value;
                this.books = [];
                this.bookInfos = [];
                this.nextPage = 0;
                this.getMoreBooks();
            },
            searchBook() {
                axios.get('/ajax/search?query=' + this.query)
                    .then((res) => {
                        this.bookInfos = _.map(res.data, function (info) {
                            info.publishedAt = moment(info.publishedAt).format('YYYY-MM');
                            info.price = info.price.toLocaleString() + '원';
                            return info;
                        });
                    });
            },
            addBook(isbn) {
                alert(isbn);
            },
            addBook(isbn) {
                axios.post('/ajax/addBook?isbn=' + isbn).then((response) => {
                    location.reload();
                });
            },
            moveBooks(destState) {
                axios.post('/ajax/moveBooks', {state: destState, isbnList: this.selectedIsbnList()}).then((response) => {
                    this.optionChanged(destState);
                });
            },
            deleteBooks() {
                if (confirm('Delete?')) {
                    axios.post('/ajax/deleteBooks', this.selectedIsbnList()).then((response) => {
                        location.reload();
                    });
                }
            },
            selectedIsbnList() {
                var isbnList = [];
                _.each(this.books, function (book) {
                    if (book.selected) isbnList.push(book.isbn);
                });
                return isbnList;
            },
            appendDelimiter(books) {
                var list = [];
                var set = {};
                _.each(books, function (book) {
                    if (book.isDelimiter) return;
                    let mmt = moment(book.readAt);
                    var quarter = mmt.format("YYYY") + ' ' +  mmt.quarter() + 'Q';
                    if (!set[quarter]) {
                        set[quarter] = true;
                        list.push({isDelimiter: true, title: quarter});
                    }
                    list.push(book);
                });
                return list;
            }
        }
    });
</script>